<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="@Url.Action("Index", "Home", null)">Trang chủ</a> » <a href="@Url.Action("Index", "About", null)">Giới thiệu về tiki</a></div>
    <!--Breadcrumb Part End-->
    <h1>Thông tin về tiki</h1>
    <p>Thành lập từ tháng 3/2010, đến nay website thương mại điện tử Tiki.vn cung cấp các sản phẩm về sách trong và ngoài nước.</p>
    <p>Với mục tiêu tạo ra những trải nghiệm mua sắm trực tuyến tuyệt vời, Tiki.vn luôn nỗ lực không ngừng nhằm nâng cao chất lượng dịch vụ. Khi mua hàng qua mạng tại Tiki.vn khách hàng sẽ được hưởng các tiện ích như sau:</p>
    <ul style="margin-left:2%">
        <li>Dịch vụ chăm sóc khách hàng tận tình trước-trong-sau khi mua hàng, xuyên suốt 7 ngày/tuần, từ 8:00 đến 21:00</li>
        <li>Mức giá cạnh tranh: hơn 90% sản phẩm được giảm giá từ 10% trở lên</li>
        <li>Giao hàng miễn phí (đối với đơn hàng từ 150.000đ trong phạm vi TP.HCM và từ 250.000đ đối với đơn hàng giao đến các tỉnh thành khác thuộc Việt Nam)</li>
        <li>Tích lũy điểm thưởng Tiki xu nhận cơ hội mua hàng với giá 0đ</li>
        <li>Uy tín trong giao dịch - Dẫn đầu cuộc bình chọn <strong> website thương mại điện tử được yêu thích nhất ECAWARD năm 2012 </strong>trong cả 3 hạng mục</li>

    </ul>
    <p style="text-align:center"><img src="http://tala.tikicdn.com/assets/img/award.jpg"></p>
    <p>(ECAWARD là chương trình bình chọn “Doanh nghiệp ứng dụng thương mại điện tử tiêu biểu” do Sở Công thương và Sở Thông tin Truyền thông Tp.HCM kết hợp tổ chức, <a href="http://eca.trade.hochiminhcity.gov.vn/trang-chu/110" style="color:#06C">xem chi tiết</a>)</p>
    <h2>Video giới thiệu Tiki.vn</h2><br>
    <iframe style="margin-left:10%" width="560" height="315" src="https://www.youtube.com/embed/BvbiJcBz9m8" frameborder="0" allowfullscreen></iframe>
    <p>Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:</p>
    <ul style="margin-left:2%">
        <li><strong>Liên lạc qua điện thoại:</strong> 1900 6035</li>
        <li><strong>Liên lạc qua email:</strong> <a href="#" style="color:#06C">hotro@tiki.vn</a></li>
        <li><strong>Fanpage của Tiki:</strong> <a href="#" style="color:#06C">http://facebook.com/tiki.vn</a></li>
        <li><strong>Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: </strong> <a href="#" style="color:#06C"> marketing@tiki.vn</a></li>
        <li><strong>Địa chỉ nhận hàng đổi/trả/bảo hành: </strong> Trung Tâm Xử Lý Đơn Hàng TIKI, Lô II-1, đường CN1, Khu Công Nghiệp Tân Bình, phường Tây Thạnh, Quận Tân Phú, TP. Hồ Chí Minh (Tham khảo <a href="#" style="color:#06C">hướng dẫn đổi, trả, bảo hành</a> hoặc liên hệ 1900-6035 để được hướng dẫn trước khi gửi sản phẩm về Tiki)</li>
        <li><strong>Văn phòng:</strong> Tầng 3, Lữ Gia Plaza, 70 Lữ Gia, Phường 15, Quận 11, Thành phố Hồ Chí Minh, Việt Nam</li>
    </ul><br>
    <h3>Thông tin về công ty</h3>
    <ul style="margin-left:2%">
        <li>Công ty Cổ Phần Ti Ki</li>
        <li>Địa chỉ đăng ký kinh doanh: 29/1, đường số 4, KP.3, P. Bình Khánh, Q.2, TPHCM, Việt Nam</li>
        <li>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</li>
    </ul><br>
    <h3>Văn phòng Tiki</h3><br>
    <iframe style="margin-left:10%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5214020639182!2d106.6509528142145!3d10.771320262234692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec00cfe0fcb%3A0x809917114287f13b!2zNzAgTOG7ryBHaWEsIHBoxrDhu51uZyAxNSwgUXXhuq1uIDExLCBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1444483003641" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!--Middle Part End-->
