@using (Html.BeginForm("SearchProduct", "Product", FormMethod.Get))
{
    <div id="search">
        <div class="button-search"></div>
        <input type="text" name="keyword" placeholder="Tìm kiếm..." value="" />
    </div>
}


