<!--Refine Search Start-->
<div class="box">
    <div class="box-heading">Bộ lọc</div>
    <div class="box-content">
        <ul class="box-filter">
            <li>
                <span id="filter-group">Giá cả</span>
                <ul>
                    <li>
                        <input type="checkbox" value="3" id="filter3" />
                        <label for="filter3">0.000 ₫- 100.000 ₫ (1)</label>
                    </li>
                    <li>
                        <input type="checkbox" value="4" id="filter4" />
                        <label for="filter4">100.000 ₫- 500.000 ₫ (5)</label>
                    </li>
                    <li>
                        <input type="checkbox" value="5" id="filter5" />
                        <label for="filter5">500.000 ₫ - $1.000.000 ₫ (1)</label>
                    </li>
                </ul>
            </li>
        </ul>
        <a id="button-filter" class="button">Tìm kiếm</a>
    </div>
</div>
<!--Refine Search End-->
